@import "~compass-mixins/lib/compass";
@import "src/public/styles/color.scss";
@import "src/public/styles/variable.scss"; 

table {
	width: 100%;
	border-collapse: separate;
    color: #222;
    font-weight: bold;
    border-spacing: 1px;
    background-color: #222;

	td, th {
		text-align: center;
		font-weight: bold;
		height: 35px;
		padding: 0px;
	}

	th {
		background-color: #d9d9d9;
	}

	td {
		background-color: white;
	}

	td.supplier {
		background-color: #d9d9d9;
	}

	td.separate-cell {
		background-color: transparent;
	} 
}

.cell {
	height: 35px;
	line-height: 35px;
	background-color: white;
}

.marginTop {
	margin-top: 1px;
}



