<table>
	<thead>
		<tr>
			<th valign="middle" *ngFor = "let h of theads">{{h}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let d of data.items">
			<td valign="middle" class="supplier">{{d.supplier}}</td>
			<td valign="middle">{{d.ArtNo}}</td>
			<td valign="middle">{{d.item_sku}}</td>
			<!-- <td valign="middle" class="separate-cell">
				<ul>
					<li class="cell"
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0" 
						[ngStyle]="{
							'height.px':35 * c.orders.length + 5 * ( c.orders.length - 1 ),
							'line-height.px':35 * c.orders.length + 5 * ( c.orders.length - 1 )
						}"
					>
						<span>{{c.variation_id}}</span>
					</li>
				</ul>
			</td>
			<td valign="middle" class="separate-cell">
				<ul>
					<li class="cell"
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0" 
						[ngStyle]="{
							'height.px':35 * c.orders.length + 5 * ( c.orders.length - 1 ),
							'line-height.px':35 * c.orders.length + 5 * ( c.orders.length - 1 )
						}"
					>
						<span>{{c.variation_sku}}</span>
					</li>
				</ul>
			</td> -->
			<td valign="middle" class="separate-cell">
				<ul>
					<li class="cell"
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0" 
						[ngStyle]="{
							'height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 ),
							'line-height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 )
						}"
					>
						<span>{{c.variation_name}}</span>
					</li>
				</ul>
			</td>
			<td valign="middle" class="separate-cell">
				<ul>
					<li 
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0"
					>
						<ul>
							<li class="cell"
								*ngFor="let o of c.orders; let i = index" 
								[class.marginTop]="i > 0" 
							>{{o.ordersn}}</li>
						</ul>
					</li>
				</ul>
			</td>
			<td valign="middle" class="separate-cell">
				<ul>
					<li class="cell"
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0" 
						[ngStyle]="{
							'height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 ),
							'line-height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 )
						}"
					>
						<span>{{c.variation_quantity_purchased}}</span>
					</li>
				</ul>
			</td>
			<td valign="middle" class="separate-cell">
				<ul>
					<li class="cell"
						*ngFor="let c of d.variations; let i = index" 
						[class.marginTop]="i > 0" 
						[ngStyle]="{
							'height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 ),
							'line-height.px':35 * c.orders.length + 1 * ( c.orders.length - 1 )
						}"
					>
						<span>{{c.variation_original_price * c.variation_quantity_purchased}}</span>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
