<div class="alert" 
	[ngStyle]="{
		'height.px': clientHeight,
		'width.px': clientWidth
	}"
>
	<div class="alert-box shadow" #box
		[ngStyle]="{
			'width.px': width,
			'margin-top.px': marginTop,
			'opacity': opacity	
		}"
	>
		<div class="header">
			<h1 class="title content"
				[ngStyle]="{
					'width.px': box.offsetWidth - 20
				}"
			>{{title}}</h1>
		</div>
		<div class="body" 
			[ngStyle]="{
				'height.px': height,
				'line-height.px': height
			}"
		>
			<div  class="content"
				[ngStyle]="{
					'width.px': box.offsetWidth - 20
				}"
			>
				<p class="txt"[ngStyle]="txtStyle">{{txt}}</p>
			</div>
		</div>
		<div class="footer">
			<div class="content"
				[ngStyle]="{
					'width.px': box.offsetWidth - 20
				}"
			>
				<div class="control">
					<a href="javascript:;" class="btn btn-blue btn-yes" 
						*ngIf="yesTxt"
						(click)="yes.emit()"
						[title]="yesTitle"
					>{{yesTxt}}</a>
					<a href="javascript:;" class="btn btn-red btn-no" 
						*ngIf="noTxt"
						(click)="no.emit()"
						[title]="noTitle"
					>{{noTxt}}</a>
				</div>
			</div>
			
		</div>
	</div>
</div>