<div class="side-bar" [ngStyle]="{'height.px':clientHeight}">
	<div class="side-nav main">
		<a href="javascript:;" class="selected">
			<div class="selected-mark"></div>
			<div class="name">
				<span class="icon"></span>
				<span class="txt">手 动<br/>报 表</span>
			</div>
		</a>
		<a href="javascript:;">
			<div class="selected-mark"></div>
			<div class="name">
				<span class="icon"></span>
				<span class="txt">自 动<br/>报 表</span>
			</div>
		</a>
	</div>
	<div class="side-nav sub">
		<div class="header">
			<span class="icon fa fa-file-excel-o"></span>
			<span class="txt">{{currentPage}}</span>
		</div>
		<div class="nav-content hand-operated" *ngIf="show==='hand-operated'">
			<a href="javascript:;" (click)="currentPage='采购表'" [class.selected]="currentPage==='采购表'">
				<span class="icon fa fa-file-excel-o"></span>
				<span class="txt">采购表</span>
			</a>
			<a href="javascript:;" (click)="currentPage='供应商'" [class.selected]="currentPage==='供应商'">
			 	<span class="icon fa fa-file-excel-o"></span>
				<span class="txt">供应商</span>
			</a>
		</div>
		<div class="nav-content automatic" *ngIf="show==='automatic'">
			<a href="javascript:;">每日报表</a>
		</div>
	</div>
</div>
